__pycache__/
*.pyc
.env
.token.json
credentials.json

*.save

_pycache_/
*.pyc
*.save
.env
.token.json
credentials.json
.venv/
app/*.bak_*.py
*.bak_*.py
*_bak_*.py
_bak_*/
app/*.bak_*
*.bak_*
_bak_fix_routes_20260304_014830/
